@charset "utf-8";
/* CSS Document */

html
{
	font-size:62.5%;
}
body
{
	margin:0 auto;
}

#headercontainer
{
	background-image:url(../images/indexPage.jpg);
}
#navigation_bar
{
	height:50px;
	width:100%;
	background-color:rgba(118,118,118,0.30);
	position:fixed;
	top:0px;
	left:0px;
	z-index:1;
}
#nav_bar_a1
{
	width:15%;
	height:50px;
	float:left;
}
#nav_bar_ul
{
	width:30%;
	float:right;
	height:50px;
}
#navigation_bar a
{
	display:inline-block;
	margin-left:3%;
	font-size:2rem;
}
#header
{	
	color:rgba(255,255,255,1.0);
	text-align:center;
	font:3rem/150%  "Arial Black", sans-serif;
	word-break:break-all;
}
#header span
{
	display:block;
	padding:5% 0px 0px 0px;
	text-shadow: #111 0px 0px 10px;
	position:relative;
	top:30px;
}
.inner
{
	width:760px;
	height:450px;
	margin:0 auto;
}
#blogcontent
{
	background-color:rgba(255,255,255,1.00);
	font: 1.5rem;
}
blockquote
{
	font-style:italic;
	color:rgba(0,0,0,0.50);
	padding: 0 0 0 20px;
	border-left: 4.5px solid rgba(0,0,0,0.20);
	height:auto;
	font-size:2rem;
}
@media screen and (max-width:1100px){
	.inner
	{
		width:80%;
	}
	#nav_bar_a1
	{
		width:35%;
	}
	#nav_bar_ul
	{
		width:65%;
	}
}
@media screen and (max-width:520px){
    #nav_bar_ul
	{
		display:none;
	}
	#nav_bar_a1
	{
		width:100%;
	}
}