@import url(github-light.css);





/*********************************************
commonly use css                             *
*********************************************/
html
{
	font-size:62.5%;    /*default:16px;   now is 10px;*/
}
body
{
	margin:0 auto;
}

#headercontainer
{
	background-image:url(../images/indexPage.jpg);
}
#navigation_bar
{
	height:50px;
	width:100%;
	background-color:rgba(118,118,118,0.15);
	position:fixed;
	top:0px;
	left:0px;
	z-index:1;
}
#nav_bar_a1
{
	width:15%;
	height:50px;
	float:left;
}
#nav_bar_ul
{
	width:30%;
	float:right;
	height:50px;
}
#navigation_bar a
{
	display:inline-block;
	margin-left:3%;
	font-size:2rem;
	color:rgba(255,255,255,1.0);
}
#navigation_bar a:hover
{
	text-decoration:none;
	cursor:pointer;
}
#header
{	
	color:rgba(255,255,255,1.0);
	text-align:center;
	font:3rem/150%  "Arial Black", sans-serif;
	word-break:break-all;
}
#header span
{
	display:block;
	padding:5% 0px 0px 0px;
	text-shadow: #111 0px 0px 10px;
	position:relative;
	top:30px;
}
.inner
{
	width:800px;
    height:450px;
	margin:0 auto;
}
#blogcontent
{
	background-color:rgba(255,255,255,1.00);
	font: 1.5rem Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif ;
}
#blogcontent h2
{
	text-align:center;
}
blockquote
{
	font-style:italic;
	color:rgba(0,0,0,0.50);
	height:auto;
}
pre
{
	background-color:rgba(255,255,255,1.00);
	border:solid 0px;
	font-size:1.8rem;
}







/*********************************************
index.html                                   *
*********************************************/
#Myhead 
{
	width:100px;
	margin:0 auto;
	position:relative;
	top:50px;
}
#Myhead img
{
	width:80px;
	height:90px;
}
#Myhead a
{
	border-radius:60px;
}
#Myhead a:hover
{
	box-shadow: 2px 2px 8px #B1B1B1;
}
#index_button
{
	margin-top:150px;
	margin-bottom:180px;
}
#index_button img
{
	width:35px;
}
#index_button a
{
	width:150px; 
	padding:10px 0px 10px 0px;
	border-radius:8px;
}
#index_button a:hover
{
	box-shadow: 2px 2px 8px #B1B1B1;
}
#index_button span
{
	font-weight:600;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
#index_button1
{
	float:left;
}
#index_button2
{
	float:right;
}






/*********************************************
foot                                         *
*********************************************/
#footer_p
{
	text-align:center;
}






/*********************************************
  blogIndex.html                             *
*********************************************/
span
{
	padding:0px 10px 0px 10px;
}
#tagsBox img
{
	width:30px;
}
#tagsBox a
{
	font-size:25px;
	margin-left:20px;
	line-height:40px;
}
#tagsBox a:hover
{
	cursor:pointer;
	text-decoration:none;
}
#tagsBox a:hover span
{
	color:#000000;
	background-color:#7EFCFF;
}
#blogcontenter
{
	margin-top:50px;
}
#blogcontenter div
{
	margin-top:50px;
}
#blogcontenter div img 
{
	width:30px;
}
#blogcontenter a
{
	display:table-row;
}
#blogcontenter a :hover
{
	cursor:pointer;
}
#scrollToTop
{
	box-shadow:0px 0px 0px 0px;
	position:fixed;
	margin-left:700px;
    top:550px;
	border:solid 0px;  
}
#scrollToTop:hover
{
	cursor:pointer;
}
.blogcontenter_div_label
{
	font-weight:600;
}






/*********************************************
About Me                                     *
*********************************************/

#about_me_left
{
	text-align:center;
	background-image:url(../images/7.png);
	background-size:cover; 
	display:none; 
	width:25%;
	height:500px; 
	float:left ; 
	position:fixed; 
	bottom:0px; 
	color:rgba(255,255,255,0.70);
}
#about_me_left p
{
	position:relative;
	top:30px;
	font:2.0rem Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
#about_me_left span
{
	position:relative;
	top:30px;
	font:2.0rem "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
#about_me_headimg
{
	width:100px; 
	height:100px; 
	margin:0 auto; 
	margin-top:60px; 
	background-image:url(../images/7AA619B788AC3CAB602A2AF483DA4E5F.jpg); 
	background-size:cover; 
	border-radius:100px;
}
#about_me_linklist
{
	margin-top:45px;
}
#about_me_linklist div
{
	width:33%; 
	float:left;
}
#about_me_linklist div img
{
	height:25px; 
	width:25px;
	border-radius:25px;
}
#about_me_foot
{
	margin-top:-30px;
}
#about_me_linklist div img:hover
{
	cursor:pointer;
	box-shadow:#8AFDFF 0px 0px 8px;
}
#about_me_right
{
	width:74%;
	height:2000px; 
	float:right;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
#about_me_right_inner
{
	width:86%; 
	margin:0 auto;
}
#about_me_right_inner h1
{
	color:rgba(0,0,0,0.65);
	position:relative;
	top:30px;
}
#about_me_right_inner h4
{
	line-height:30px;
	position:relative;
	top:50px;
	color:rgba(164,164,164,1.00);
	word-break:break-all;
}
#like_star
{
	margin-top:240px;
}
.like_star_div_outer
{
	width:40%;
	height:280px;
	float:left;
	margin-left:40px;
	margin-top:30px;
}
.like_star_div
{
	width:100%;	
	height:200px;
	background-size:cover;
	border-radius:10px;
	text-align:center;
}
.like_star_div_outer span
{
	position:relative;
	top:20px;
	font:2.0rem Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
.like_star_div p
{
	font:2.0rem Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color:rgba(255,255,255,1.00);
	display:none;
}
.like_star_div:hover
{
	cursor:pointer;
	opacity:0.8;
}
.like_star_div:hover p
{
	display:block;
}
#like_star p
{
	position:relative;
	top:100px;
}
span.like_star_name
{
	font:2rem Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-family:"楷体";
	color:rgba(0,0,0,0.95);
}
span.like_star_details
{
	font: 1.5rem Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif ;
	font-family:"楷体";
	color:rgba(0,0,0,0.80);
}
#my_diary
{
	width:180px;
	height:55px;
	float:left;
	border:solid 3px rgba(183,183,183,0.20);
	text-align:center;
	margin-top:130px;
	border-radius:5px;
}
#my_diary:hover
{
	border-color:rgba(0,235,255,0.60);
}
#my_diary:hover span
{
	color:rgba(0,211,255,0.50);
}
#my_diary_a
{
	text-decoration:none;
	width:180px;
	height:55px;
}
#my_diary_a:hover
{
	cursor:pointer;
}
#my_diary span
{
	position:relative;
	top:12px;
	color:rgba(119,119,119,1.00);
	font-size:1.8rem;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}







/*********************************************
My Diary
*********************************************/
#diary_div
{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
#diary_div h1
{
	color:rgba(0,0,0,0.65);
	position:relative;
	top:30px;
}
#diary_div h4
{
	line-height:30px;
	position:relative;
	top:50px;
	color:rgba(130,130,130,1.00);
	word-break:break-all;
}






/*********************************************
@media screen                                *
*********************************************/
@media screen and (max-width:1100px){
	.inner
	{
		width:80%;
	}
	#nav_bar_a1
	{
		width:35%;
	}
	#nav_bar_ul
	{
		width:65%;
	}
	#about_me_left span
	{
	    font:1.5rem "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	}
	#about_me_headimg 
	{
		width:85px;
		height:85px;
		border-radius:85px;
	}
	#about_me_foot p
	{
		font-size:15px;
	}
}
@media screen and (max-width:800px){
    .like_star_div_outer
	{
		width:80%;
		height:280px;
		float:none;
	}
	.like_star_div p
	{
		position:relative;
		top:125px;
	}
}
@media screen and (max-width:520px){
    #nav_bar_ul
	{
		display:none;
	}
	#nav_bar_a1
	{
		width:100%;
	}
	#index_button1
	{
		width:150px;
		float:none;
		margin:0 auto;
	}
	#index_button2
	{
		width:150px;
		float:none;
		margin:0 auto;
		margin-top:60px;
	}
	#about_me_left span
	{
	    font:1.2rem "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	}
	#about_me_headimg 
	{
		width:70px;
		height:70px;
		border-radius:70px;
	}
	#about_me_foot p
	{
		font-size:10px;
	}
	.like_star_div_outer
	{
		width:94%;
		height:150px;
		float:none;
		position:relative;
		left:-30px;
		margin-top:120px;
	}
	.like_star_div
	{
		height:160px;
	}
}